## NPM
node_modules
node_modules/
/node_modules/
### carpetas prima
# src
# src/
# /src/
### carpeta distribución
dist
dist/
/dist/
### Respaldos
*.7z
# *.dmg
*.gz
# *.bz2
# *.iso
# *.jar
*.rar
*.tar
*.zip
*.tgz
# *.map

### adicional
package-lock.json

